<mat-horizontal-stepper  #stepper>
<mat-step >
   <form>
      <ng-template matStepLabel>Welcome to the game</ng-template>
      <div class="row">
         <div class="col-md-12" *ngIf="showWelcomeForm">
            <div class="panel panel-headline">
               <div class="panel-heading">
                  <h3 class="panel-title">Welcome</h3>
                  <p class="panel-subtitle">An implementation of blackjack21</p>
               </div>
               <div class="panel-body">
                  <h2><strong>Synopsis</strong></h2>
                  <p>Good day and welcome to my implementation of blackjack21 , this has been a really fun experience and
                     I wish time constraints had not kept me back from showing my full skillset.Never the less I hope you enjoy 
                     assessing this as much as I enjoyed builing it. Please partake in a game or proceed straight to the <i class="fa fa-love"></i><a href="/UnitTest"><span class="label label-info">Assessment Unit Test</span></a>
                  </p>
                  <p>Kind regards</p>
                  <p>Yashlin "The Flash" Naidoo</p>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="row">
            <div class="col-md-4" *ngIf="showPlayerCaptureForm">
               <!-- PANEL HEADLINE -->
               <div class="panel panel-headline">
                  <div class="panel-heading">
                     <h3 class="panel-title"><span class="lnr lnr-user"> Player {{PlayerID}}</span></h3>
                     <p class="panel-subtitle">Please enter the names of 4 players to begin the game</p>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-12">
   <form [formGroup]="PlayerForm">
   <input placeholder="Name" formControlName="name" class="font">
   </form>
   </div>
   </div>
   <br>
   <div class="row">
   <div class="col-md-1">
   <button mat-raised-button color="accent" (click)="onsubmit()">Add player</button>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   <div class="row">
   <div class="col-md-8">
   <div class="row">
   <div class="col-md-4" *ngFor="let Player of PlayerArray">
   <div class="panel panel-headline player-panel">
   <div class="panel-heading">
   <h1><span class="lnr lnr-user"> Player:{{Player.id}}</span></h1>
   </div>
   <div class="panel-body">
   <h2>Name:{{Player.name}}</h2>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   <button mat-raised-button matStepperNext color="primary" *ngIf="showStartButton">Start Game</button>
   </div>
   </form>
</mat-step>
<mat-step >
   <form>
      <ng-template matStepLabel>In the game</ng-template>
      <div>
         <div class="row">
            <div class="col-md-3" *ngFor="let Player of gameObject">
               <div class="panel panel-headline">
                  <div class="panel-heading">
                     <h3 class="panel-title"><span class="lnr lnr-user"> Player:{{Player.id}}</span></h3>
                  </div>
                  <div class="panel-body">
                     <h2>{{Player.name}}</h2>
                     <p>Score:<span class="label label-info">{{Player.score.Value}}</span></p>
                     <p>Secondary Score:<span class="label label-info">{{Player.score.SecondaryValue}}</span></p>
                     <p *ngIf="Player.status!=='C'">Status:<span class="label label-primary">{{Player.status}}</span></p>
                     <p>Position:<span class="label label-success">{{Player.Position}}</span></p>
                     <div class="row">
                        <div class="col-md-3 card-object panel" *ngFor=" let card of Player.cards">
                           <div >
                              <h4>{{card.Rank}}</h4>
                              <h3>of</h3>
                              <h4>{{card.Suit}}</h4>
                           </div>
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-md-3">
                           <button type="button" class="btn btn-success" (click)="getCard(Player,Player.id)">Hit card</button>
                        </div>
                        <div class="col-md-3">
                           <button type="button" class="btn btn-warning" (click)="Stand(Player.id)" >Stand</button>
                        </div>
                        <hr>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3" *ngFor="let Dealer of DealerObject">
               <div class="panel panel-headline">
                  <div class="panel-heading">
                     <h3 class="panel-title">Dealer</h3>
                  </div>
                  <div class="panel-body">
                     <h2>{{Dealer.name}}</h2>
                     <p>Score:<span class="label label-info">{{Dealer.score.Value}}</span></p>
                     <p>Secondary Score:<span class="label label-info">{{Dealer.score.SecondaryValue}}</span></p>
                     <p *ngIf="Dealer.status!=='C'">Status:<span class="label label-primary">{{Dealer.status}}</span></p>
                     <p>Position:<span class="label label-success">{{Dealer.Position}}</span></p>
                     <div class="row">
                        <div class="col-md-3 card-object panel" *ngFor="let card of Dealer.cards">
                           <div >
                              <h3>{{card.Rank}}</h3>
                              <h3>of</h3>
                              <h3>{{card.Suit}}</h3>
                           </div>
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-md-3">
                           <button type="button" class="btn btn-success" color="primary" (click)="getDealerCard(Dealer ,Dealer.id)">Hit</button>
                        </div>
                        <div class="col-md-3" *ngIf="DealerTurnActive">
                           <button type="button" class="btn btn-warning" matStepperNext (click)="CheckEndGameScenarios()">End game</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
</mat-step>
<mat-step >
   <form>
      <ng-template matStepLabel>End Game</ng-template>
      <div class="row">
         <div class="col-md-3">
            <h1>Final scores</h1>
            <div class="panel player-panel" *ngFor="let obj of FinalScoreObject">
               <div class="panel-heading">
                  <h3 class="panel-title">Score</h3>
               </div>
               <div class="panel-body">
                  <h2><span class="lnr lnr-user">{{obj.name}}</span></h2>
                  <h2><span class="label label-info">{{obj.gamestatus}}</span></h2>
               </div>
            </div>
         </div>
      </div>
   </form>
</mat-step>
</mat-horizontal-stepper>