<div *ngIf="ShowSimulations">
  <div class="row">
    <div class="col-md-1">
        <h1>Unit test simulations</h1>
    </div>
    <div class="col-md-1">
        <button mat-raised-button color="primary" (click)="CheckEndGameScenarios()">Calculate scenarios</button>
    </div>
  </div>
  <div class="row">
     <div class="col-md-3" *ngFor="let Player of PlayerModel">
        <div class="panel panel-headline">
           <div class="panel-heading">
              <h3 class="panel-title"><span class="lnr lnr-user"> Player:{{Player.id}}</span></h3>
           </div>
           <div class="panel-body">
              <h2>{{Player.name}}</h2>
              <p>Score:<span class="label label-info">{{Player.score.Value}}</span></p>
              <p>Secondary Score:<span class="label label-info">{{Player.score.SecondaryValue}}</span></p>
              <p *ngIf="Player.status!=='C'">Status:<span class="label label-primary">{{Player.status}}</span></p>
              <p>Position:<span class="label label-success">{{Player.Position}}</span></p>
              <div class="row">
                 <div class="col-md-3 card-object panel" *ngFor=" let card of Player.cards">
                    <div >
                       <h4>{{card.Rank}}</h4>
                       <h3>of</h3>
                       <h4>{{card.Suit}}</h4>
                    </div>
                 </div>
              </div>
              <hr>
           </div>
        </div>
     </div>
  </div>
  
  <div class="row">
     <div class="col-md-3" *ngFor="let Dealer of DealerModel">
        <div class="panel panel-headline">
           <div class="panel-heading">
              <h3 class="panel-title">Dealer</h3>
           </div>
           <div class="panel-body">
              <h2>{{Dealer.name}}</h2>
              <p>Score:<span class="label label-info">{{Dealer.score.Value}}</span></p>
              <p>Secondary Score:<span class="label label-info">{{Dealer.score.SecondaryValue}}</span></p>
              <p *ngIf="Dealer.status!=='C'">Status:<span class="label label-primary">{{Dealer.status}}</span></p>
              <p>Position:<span class="label label-success">{{Dealer.Position}}</span></p>
              <div class="row">
                 <div class="col-md-3 card-object panel" *ngFor="let card of Dealer.cards">
                    <div >
                       <h3>{{card.Rank}}</h3>
                       <h3>of</h3>
                       <h3>{{card.Suit}}</h3>
                    </div>
                 </div>
              </div>
              <hr>
           </div>
        </div>
     </div>
     
  </div>
</div>

<div *ngIf="!ShowSimulations">
    <div class="row">
        <div class="col-md-3">
           <h1>Final scores</h1>
           <div class="panel player-panel" *ngFor="let obj of FinalScoreObject">
              <div class="panel-heading">
                 <h3 class="panel-title">Score</h3>
              </div>
              <div class="panel-body">
                 <h2><span class="lnr lnr-user">{{obj.name}}</span></h2>
                 <h2><span class="label label-info">{{obj.gamestatus}}</span></h2>
              </div>
           </div>
        </div>
     </div>
</div>