@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

/*  
*   ############################################################################################
*   
*   Yashlin BlackJack Game
*   ---------------------------------------------------------------------
*
*   Version:    1.0
*   Author:     Yashlin Naidoo
*   Email:      yashycr7@gmail.com  
*   ############################################################################################
*/
/********************
 * GENERAL STYLES
 ********************/
 #angularRoot {
    height:100%;
    width:100%;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    padding:5px;
  }

  a {
    color: #3287B2; }
    a:hover, a:focus {
      color: #3b98c8;
      text-decoration: none; }
  
  th {
    font-weight: 600; }
  
  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 10px; }

    /********************
 * PANELS
 ********************/
.panel {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin-bottom: 30px; }
    .panel .panel-heading,
    .panel .panel-body,
    .panel .panel-footer {
      padding-left: 25px;
      padding-right: 25px; }
    .panel .panel-heading {
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative; }
      .panel .panel-heading .panel-title {
        margin: 0;
        font-size: 18px;
        font-weight: 300; }
      .panel .panel-heading button {
        padding: 0;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        outline: none; }
        .panel .panel-heading button i {
          font-size: 14px; }
    .panel .panel-body {
      padding-top: 10px;
      padding-bottom: 15px; }
    .panel .panel-note {
      font-size: 13px;
      line-height: 2.6;
      color: #777777; }
      .panel .panel-note i {
        font-size: 16px;
        margin-right: 3px; }
    .panel .right {
      position: absolute;
      right: 20px;
      top: 32%; }
    .panel.panel-headline .panel-heading {
      border-bottom: none; }
      .panel.panel-headline .panel-heading .panel-title {
        margin-bottom: 8px;
        font-size: 22px;
        font-weight: normal; }
      .panel.panel-headline .panel-heading .panel-subtitle {
        margin-bottom: 0;
        font-size: 14px;
        color: #8D99A8; }
    .panel.panel-scrolling .btn-bottom {
      margin-bottom: 30px; }
    .panel .table > thead > tr > td:first-child,
    .panel .table > thead > tr > th:first-child,
    .panel .table > tbody > tr > td:first-child,
    .panel .table > tbody > tr > th:first-child,
    .panel .table > tfoot > tr > td:first-child,
    .panel .table > tfoot > tr > th:first-child {
      padding-left: 25px; }
    .panel .table > thead > tr > td:last-child,
    .panel .table > thead > tr > th:last-child,
    .panel .table > tbody > tr > td:last-child,
    .panel .table > tbody > tr > th:last-child,
    .panel .table > tfoot > tr > td:last-child,
    .panel .table > tfoot > tr > th:last-child {
      padding-left: 25px; }
  
  .panel-footer {
    background-color: #fafafa; }

   /********************
 * BUTTONS
 ********************/
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px; }

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 28px; }

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 18px; }

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 14px; }

.btn-primary {
  background-color: #00AAFF;
  border-color: #00a0f0; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #00a0f0;
    border-color: #00a0f0; }

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #d6be0f;
    border-color: #d6be0f; }

.btn-default:hover, .btn-default:focus {
  background-color: #f7f7f7; }

.btn-success {
  background-color: #41B314;
  border-color: #3ca512; }
  .btn-success:hover, .btn-success:focus {
    background-color: #3ca512;
    border-color: #3ca512; }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity=40); }
     /********************
 * Forms
 ********************/
    .form-spacing{
        margin:auto;
        padding:5px;
    }

    .player-form{
        width: 200px;
        height: 200px;
    }

    p{
      font-size: 16px;
    }
    .font{
      font-size: 16px;
    }
    .card-object{
      margin:5px;
      background: #e1bee7;
    }

    .player-panel{
      background: #3f51b5;
      color:white;
    }

    